@media screen and (max-width:576px) {
    .navigation {
        flex-direction: column;
    }


    .banner-section {
        width: 335px;
        height: 483px;
        flex-shrink: 0;
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);


    }





    /* 2nd section  */




    .our-popular-tours {
        flex-direction: column;
    }





    .our-tour-title {
        color: #131318;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .popular-tour {
        max-width: 320px;
    }

    .rectangle-4 {
        width: 350px;
        /* padding-bottom: 50px;
        border-radius: 10px;
        margin-bottom: 150px; */
    }


    /* <!-- Choose Your Destination Choose Your Destination --> */




    .rows {
        flex-direction: column;
        

    }

    .destination {
        width: 375px;
        height: 200px;

    
    }


    .first-img{
        max-width: 350px;
    }

    .second-img{
        max-width: 350px;
    }
    .small-img-in-row{
        width: 350px;
    }





    /* why-choose-us */

    .why-choose-us{
        width: 350px;
        /* border: 3px solid red; */
        text-align: center;
        margin-top: 20px;
        margin-left: 120px;
        
    }



    /* card section  */
    .card{
        flex-direction: column;
        gap: 20px;
        
    }
    .card-1{
        max-width: 350px;
    }
    .card-2{ 
        max-width: 350px;

    }
    .down-card{
        max-width: 350px;
        margin-left: 130px;
    }




    




















}