@media screen and (max-width:576px) {
    .navigation {
        flex-direction: column;
    }

    /* body {
        border: 5px solid red;
        max-width: 500px;

        

    } */


    .banner-section {
        width: 350px;
        height: 550px;
        background-position: 50%;
        flex-shrink: 0;
        border-radius: 16px;

        /* background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%); */
        .Explore-text {
            color: #FFF;
            font-family: Mulish;
            font-size: 22px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;

        }


    }


    #banner-text {

        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        /* 150% */
    }

    .input-fil {
        flex-direction: column;
        margin-top: 20px;
    }





    /* 2nd section  */




    .our-popular-tours {
        flex-direction: column;
    }





    .our-tour-title {
        color: #131318;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .popular-tour {
        max-width: 320px;
    }

    .rectangle-4 {
        width: 350px;
        /* padding-bottom: 50px;
        border-radius: 10px;
        margin-bottom: 150px; */
    }


    /* <!-- Choose Your Destination Choose Your Destination --> */




    .rows {
        flex-direction: column;


    }

    .destination {
        width: 355px;
        height: 200px;
        margin-top: 20px;
        margin-left: 100px;


    }


    .first-img {
        max-width: 350px;
    }

    .second-img {
        max-width: 350px;
    }

    .small-img-in-row {
        width: 350px;
    }





    /* why-choose-us */

    .why-choose-us {
        width: 350px;
        /* border: 3px solid red; */
        text-align: center;
        margin-top: 20px;
        margin-left: 120px;

    }



    /* card section  */
    .card {
        flex-direction: column;
        gap: 20px;

    }

    .card-1 {
        max-width: 350px;
    }

    .card-2 {
        max-width: 350px;

    }

    .down-card {
        max-width: 350px;
        margin-left: 130px;
        height: 300px;
        width: 300px;

    }

    .discounts-part {
        width: 375px;
        height: 200px;
        margin-top: 20px;
        margin-left: 130px;


    }




    /* perfect-place perfect-place */


    .perfect-place {
        flex-direction: column;
    }

    .perfect-place-text-part {
        max-width: 350px;
        margin-left: 20px;


    }


    .a-simple-perfect {
        color: #131318;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 30px;
    }

    #destination-text {
        color: rgba(19, 19, 24, 0.70);
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;


    }

    .ul1 {

        color: #131318;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        width: 310px;
    }

    /* .simple-perfect-place{
        max-width: 350px;
        
        
        
    } */

    .video-bn {
        width: 350px;
        height: 300px;

    }



    /* newsletter-section newsletter-section */

    .newsletter-section {
        flex-direction: column;

    }

    .newsletter-input-fil {
        max-width: 350px;
        margin-right: 100px;
    }

    .input-fill-newsletter {
        /* width: 188px;
        height: 32px; */
        flex-shrink: 0;
        border-radius: 8px;
        background: rgba(19, 19, 24, 0.05);


    }

    .news1 {
        max-width: 288px;
        height: 52px;
        flex-shrink: 0;
    }

    .newletter-img1 {
        max-width: 350px;
        margin-bottom: 70px;
    }








    /* footer section  */



    .footer-section {
        max-width: 350px;
        margin-left: 145px;
        margin-bottom: 60px;
    }

    #footer-description {
        color: #5A5A5D;
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */

    }

    .our-travel-footer {}




























}